extends ./_templates/_layouts/default.pug


block vars
  include params/posts
  include params/news
  include params/papers
  include params/reviews

block content
  #home
    h2 About me
    include params/aboutme
    fhr
    /////////////////////////////////////////////////////////////////////////////
    h2 Recent news
    table
      each news_, index in news
        if index < newsHighlights
          tr
            td(class='date-cell')= news_.date
            td(class='info-cell')= news_.title
          tr
            td(class='space-cell')
    xx-small More in the #[a(href='/~ajaha004/news/') news] feed (total: #{news.length}).
    fhr
    /////////////////////////////////////////////////////////////////////////////
    h2 Recent blog posts
    table
      each post, index in posts
        if index < blogPostHighlights
          tr
            td(class='post-cell')= post.title
          tr
            td(class='space-cell')
    xx-small More in the #[a(href='/~ajaha004/blog/') blog] (published: #{posts.length}).
    fhr
    /////////////////////////////////////////////////////////////////////////////
    h2 Papers
    table
      each paper in papers
        tr
          td(class='venue-cell')=paper.venue
          td(class='info-cell')=paper.info
          td(class='link-cell')
            a(href=paper.link) PDF
        tr
          td(class='space-cell')
    fhr
    ///////////////////////////////////////////////////////////////////////////////
    h2 Professional Activities
    h3 External Review Committee
      ul
        for reviewer in venues
          li
            small= reviewer