extends ../_templates/_layouts/default.pug

block vars
  - title = websiteShortTitle + ' · Projects'
  - navPage = 'projects'
  include ../params/projects

block content
  #projects
    h1 Projects
    span Here's the list of the projects I have done or participated in:
    p.tagGuide='Tag'
    p.libGuide='Language/Library/Tool'
    p.platformGuide='Platform'
    hr
    .row
      each project in projects
        .col-sm-6
          .project
            h2.name= project.name

            a(href=project.link)
              img(src=project.img)

            p!= project.description

            p.visit
              if project.link
                a(href=project.link) Report

              if project.link && project.source
                span &nbsp&middot;&nbsp;

              if project.source
                a(href=project.source) View source
            each tag in project.tags
              span.tag= tag
            <br />
            each lib in project.lib
              span.lib= lib
            <br />
            each pf in project.platform
              span.platform= pf