extends ../_templates/_layouts/default.pug


block vars
  - title = 'Ali Jahan · Projects'
  - navPage = 'projects'


block content
  -
    var projects = [
      {
        name: 'Adding Support for Resource Reservation & Monitoring on Multiprocessor Systems to Linux Kernel',
        img: '',
        link: '',
        source: '',
        description: 'Resource Reservation (using system sall), Resource Reservations Report (using kernel module), Periodic Task Support (using system call and hr_timer), Budget overrun notification (using signal), Schedulability  test, Partitioning policies (Best-fit, Worst-fit, and First-fit) by Sysfs interface',
        tags: ['Embedded OS', 'Linux Kernel', 'Syscall', 'Sysfs', 'HRTimer', 'Kernel Module', 'Signal']
      },
      {
        name: 'Adding Support for Getting Virtual Memory Info to Linux Kernel',
        img: '',
        link: '',
        source: '',
        description: 'Adding syscalls to kernel in order to: print the start and end addresses of the code, data, and heap segments of a process, print the entire memory-mapped areas of a process, print the number of pages that reside in the physical memory',
        tags: ['Embedded OS', 'Linux Kernel', 'Syscall', 'Virtual Memory', 'PTE']
      },
      {
        name: 'Tiny CNN on FPGA',
        img: '',
        link: '',
        description: 'Implementation of a tiny modular CNN on FPGA by CHISEL',
        tags: ['CNN', 'CHISEL', 'Zynq', 'FPGA']
      },
      {
        name: 'Program Analysis and Instrumentation by LLVM',
        img: '',
        link: '',
        description: 'Implementing a basic program analysis and instrumentation technique to perform Edge Profiling, and Path Profiling (Ball-Larus paths)',
        tags: ['Compiler Construction', 'LLVM', 'Pass', 'Program Instrumentation']
      },
    // {
      //   name: 'Multiprocessor Scheduling and Admission Control',
      //   img: '',
      //   link: '',
      //   description: 'A website I made for Santa Clara students to streamline class registration.  Used by over 90% of students.',
      //   tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL']
      // },
      // {
      //   name: 'SCU•books',
      //   img: 'scubooks.png',
      //   link: 'http://scubooks.com',
      //   description: 'A website for Santa Clara students to save money on their textbooks. Personalized to your schedule.',
      //   tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL']
      // },
      // {
      //   name: 'Powder Keg Brewing Company',
      //   img: 'pkbc.png',
      //   link: 'http://www.powderkegbrewingcompany.com',
      //   source: 'https://github.com/scott113341/powderkegbrewingcompany',
      //   description: 'The website for Powder Keg Brewing Company, a new craft brewery in Niwot, Colorado.',
      //   tags: ['Ruby on Rails', 'Angular.js']
      // }
    ]

  #projects
    h1 Projects
    p Here's the list of the projects I have done or participated in:
    .row
      each project in projects
        .col-sm-6
          .project
            h2.name= project.name

            a(href=project.link)
              img(src=project.img)

            p.visit
              if project.link
                a(href=project.link) Visit site

              if project.link && project.source
                span &nbsp&middot;&nbsp;

              if project.source
                a(href=project.source) View source

            p!= project.description

            each tag in project.tags
              span.tag= tag
